html {
    font-size: 10px; 
    font-family: DM Mono; 
    background-color: antiquewhite;
  }
body {
    width: 600px;
    margin: 0 auto;
    background-color: moccasin;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #776677;
    text-shadow: 3px 3px 1px black;
  }
h2 {
    text-align: center;
  }
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
video{
    display: block;
    margin: 0 auto;
  }
button{
    display: block;
    margin: 0 auto;
  }
form{
    text-align: center;
    margin: 0;
}
.icon-bar {
  width: 100%; 
  background-color: moccasin; 
  overflow: auto; 
}

.icon-bar a {
  float: left; 
  text-align: center; 
  width: 20%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: black; 
  font-size: 36px; 
}

.icon-bar a:hover {
  background-color: antiquewhite; 
}

.active {
  background-color: #776677; 
}